<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper 
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd"> 

<!-- 调用接口记录 -->
<mapper namespace="com.yw.webplatform.mapper.InterfaceLogEntityMapper">
	<!-- 映射为实体 -->
	<resultMap type="com.yw.common.beansUtils.entity.InterfaceLogEntity" id="resultMapInterfaceLog">
		<id property="tid" column="TID"/>	<!-- 主键 -->
		
		<result property="fkAppAccountTid" column="FK_APP_ACCOUNT_TID"/>	<!-- 应用账号外键 -->
		<result property="fkAppAccountInterfaceTid" column="FK_APP_ACCOUNT_INTERFACE_TID"/>	<!-- 应用账号接口外键 -->
		<result property="timeConsuming" column="TIME_CONSUMING"/>	<!-- 耗时 -->
		<result property="createTime" column="CREATE_TIME"/>	<!-- 创建时间 -->
		<result property="updateTime" column="UPDATE_TIME"/>	<!-- 更新时间 -->

		<result property="appId" column="APP_ID"/>	<!-- 应用ID -->
		<result property="appVersion" column="APP_VERSION"/>	<!-- 应用ID -->
		<result property="appName" column="APP_NAME"/>	
		<result property="orgName" column="ORG_NAME"/>	
		<result property="interfaceName" column="INTERFACE_NAME"/>	
		<result property="appInstance" column="APP_INSTANCE"/>	
	</resultMap>

	<!-- 查询条件 -->
	<sql id="SELECT_PARAMS_INTERFACELOG">
		
		TIL.TID,
		TIL.FK_APP_ACCOUNT_TID,
		TIL.FK_APP_ACCOUNT_INTERFACE_TID,
		TIL.TIME_CONSUMING,
		TIL.CREATE_TIME,
		TIL.UPDATE_TIME

	</sql>
	
    <!-- 根据条件，查询多条数据 -->
    <select id="findAll" parameterType="com.yw.common.beansUtils.entity.InterfaceLogEntity" resultMap="resultMapInterfaceLog">  
         SELECT DISTINCT
         	<include refid="SELECT_PARAMS_INTERFACELOG"/>,
         	TA.APP_ID AS APP_ID,
         	TA.APP_NAME AS APP_NAME,
         	TOTO.ORG_NAME AS ORG_NAME,
         	TI.INTERFACE_NAME AS INTERFACE_NAME,
         	TAA.APP_INSTANCE AS APP_INSTANCE,
         	TAA.APP_VERSION
         	
          FROM T_INTERFACE_LOG TIL
          LEFT JOIN T_APP_ACCOUNT TAA ON (TIL.FK_APP_ACCOUNT_TID = TAA.TID)
		  LEFT JOIN T_APP_ACCOUNT_INTERFACE TAAI ON (TIL.FK_APP_ACCOUNT_INTERFACE_TID = TAAI.TID)
		  LEFT JOIN T_APP TA ON (TAA.APP_ID = TA.APP_ID)
		  LEFT JOIN T_ORGANIZATION TOTO ON (TAA.FK_ORGANIZATION_TID = TOTO.TID)
		  LEFT JOIN T_INTERFACE TI ON (TAAI.FK_INTERFACE_TID = TI.TID)
         <trim prefix="WHERE" prefixOverrides="AND |OR ">
        	
			<if test="tid != null and tid != '' ">	<!-- 主键 -->
				AND TIL.TID = #{tid}
			</if>
			<if test="fkAppAccountTid != null and fkAppAccountTid != '' ">	<!-- 应用账号外键 -->
				AND TIL.FK_APP_ACCOUNT_TID = #{fkAppAccountTid}
			</if>
			<if test="fkAppAccountInterfaceTid != null and fkAppAccountInterfaceTid != '' ">	<!-- 应用账号接口外键 -->
				AND TIL.FK_APP_ACCOUNT_INTERFACE_TID = #{fkAppAccountInterfaceTid}
			</if>
			<if test="timeConsuming != null ">	<!-- 耗时 -->
				AND TIL.TIME_CONSUMING = #{timeConsuming}
			</if>

        	<if test="startSearchTime != null and startSearchTime != '' ">
			 	AND TIL.CREATE_TIME &gt;= #{startSearchTime}
			</if>
			<if test="endSearchTime != null and endSearchTime != '' ">
			 	AND TIL.CREATE_TIME &lt; #{endSearchTime}
			</if>
			
			<if test="appId != null and appId != '' ">	<!-- 应用ID -->
				AND UPPER(TA.APP_ID) LIKE UPPER('%${appId}%')
			</if>
			<if test="appName != null and appName != '' ">	<!--  -->
				AND UPPER(TA.APP_NAME) LIKE UPPER('%${appName}%') 
			</if>
			<if test="orgName != null and orgName != '' ">	<!--  -->
				AND UPPER(TOTO.ORG_NAME) LIKE UPPER('%${orgName}%') 
			</if>
			<if test="interfaceName != null and interfaceName != '' ">	<!--  -->
				AND UPPER(TI.INTERFACE_NAME) LIKE UPPER('%${interfaceName}%') 
			</if>
         </trim>
         ORDER BY TIL.CREATE_TIME DESC
    </select>
    
    <!-- 根据条件，查询总条数 -->
    <select id="getCount" parameterType="com.yw.common.beansUtils.entity.InterfaceLogEntity" resultType="int">  
         SELECT 
         	COUNT(1)
         FROM 
		 (SELECT DISTINCT
         	<include refid="SELECT_PARAMS_INTERFACELOG"/>,
         	TA.APP_ID AS APP_ID,
         	TA.APP_NAME AS APP_NAME,
         	TOTO.ORG_NAME AS ORG_NAME,
         	TI.INTERFACE_NAME AS INTERFACE_NAME,
         	TAA.APP_INSTANCE AS APP_INSTANCE,
         	TAA.APP_VERSION
         	
          FROM T_INTERFACE_LOG TIL
          LEFT JOIN T_APP_ACCOUNT TAA ON (TIL.FK_APP_ACCOUNT_TID = TAA.TID)
		  LEFT JOIN T_APP_ACCOUNT_INTERFACE TAAI ON (TIL.FK_APP_ACCOUNT_INTERFACE_TID = TAAI.TID)
		  LEFT JOIN T_APP TA ON (TAA.APP_ID = TA.APP_ID)
		  LEFT JOIN T_ORGANIZATION TOTO ON (TAA.FK_ORGANIZATION_TID = TOTO.TID)
		  LEFT JOIN T_INTERFACE TI ON (TAAI.FK_INTERFACE_TID = TI.TID)
		  	
         <trim prefix="WHERE" prefixOverrides="AND |OR ">
        	
			<if test="tid != null and tid != '' ">	<!-- 主键 -->
				AND TIL.TID = #{tid}
			</if>
			<if test="fkAppAccountTid != null and fkAppAccountTid != '' ">	<!-- 应用账号外键 -->
				AND TIL.FK_APP_ACCOUNT_TID = #{fkAppAccountTid}
			</if>
			<if test="fkAppAccountInterfaceTid != null and fkAppAccountInterfaceTid != '' ">	<!-- 应用账号接口外键 -->
				AND TIL.FK_APP_ACCOUNT_INTERFACE_TID = #{fkAppAccountInterfaceTid}
			</if>
			<if test="timeConsuming != null ">	<!-- 耗时 -->
				AND TIL.TIME_CONSUMING = #{timeConsuming}
			</if>

        	<if test="startSearchTime != null and startSearchTime != '' ">
			 	AND TIL.CREATE_TIME &gt;= #{startSearchTime}
			</if>
			<if test="endSearchTime != null and endSearchTime != '' ">
			 	AND TIL.CREATE_TIME &lt; #{endSearchTime}
			</if>
			
			<if test="appId != null and appId != '' ">	<!-- 应用ID -->
				AND UPPER(TA.APP_ID) LIKE UPPER('%${appId}%')
			</if>
			<if test="appName != null and appName != '' ">	<!--  -->
				AND UPPER(TA.APP_NAME) LIKE UPPER('%${appName}%') 
			</if>
			<if test="orgName != null and orgName != '' ">	<!--  -->
				AND UPPER(TOTO.ORG_NAME) LIKE UPPER('%${orgName}%') 
			</if>
			<if test="interfaceName != null and interfaceName != '' ">	<!--  -->
				AND UPPER(TI.INTERFACE_NAME) LIKE UPPER('%${interfaceName}%') 
			</if>
         </trim>
         ) TT
    </select>

	<!-- 添加 -->
    <insert id="insert" parameterType="com.yw.common.beansUtils.entity.InterfaceLogEntity">
    	INSERT INTO T_INTERFACE_LOG(
    		
			TID,
			FK_APP_ACCOUNT_TID,
			FK_APP_ACCOUNT_INTERFACE_TID,
			TIME_CONSUMING,
			CREATE_TIME,
			UPDATE_TIME

    	)
    	VALUES(
    		
			#{tid},
			#{fkAppAccountTid},
			#{fkAppAccountInterfaceTid},
			#{timeConsuming},
			SYSDATE(),
			DATE_FORMAT(SYSDATE(), '%Y%m%d%H%i%s')

    	)
    </insert>
    
    <!-- 更新 -->
    <update id="updateById" parameterType="com.yw.common.beansUtils.entity.InterfaceLogEntity">
	   UPDATE T_INTERFACE_LOG
       <trim prefix="SET" prefixOverrides=",">
       		UPDATE_TIME = DATE_FORMAT(SYSDATE(), '%Y%m%d%H%i%s')
                          
			<if test="fkAppAccountTid != null and fkAppAccountTid != '' ">	<!-- 应用账号外键 -->
				,FK_APP_ACCOUNT_TID = #{fkAppAccountTid}
			</if>
			<if test="fkAppAccountInterfaceTid != null and fkAppAccountInterfaceTid != '' ">	<!-- 应用账号接口外键 -->
				,FK_APP_ACCOUNT_INTERFACE_TID = #{fkAppAccountInterfaceTid}
			</if>
			<if test="timeConsuming != null ">	<!-- 耗时 -->
				,TIME_CONSUMING = #{timeConsuming}
			</if>

       </trim>
	   <trim prefix="WHERE" prefixOverrides="AND |OR ">
	   		TID = #{tid}
	   </trim>
    </update>
    
    <!-- 删除 -->
    <delete id="delete" parameterType="java.lang.String">
    	DELETE FROM T_INTERFACE_LOG WHERE TID = #{value}
    </delete>
</mapper>
